<!-- Header -->
<header class="header border-bottom border-secondary sticky-top" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-4" th:href="@{/}">
                <i class="fas fa-utensils"></i>
                Restaurant front
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/docs}">
                            <i class="fas fa-book"></i> Docs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://github.com/gafc2001/RestaurantApi" tabindex="-1" aria-disabled="true">
                            <i class="fab fa-github"></i> Repository
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->